<style>
	.center{
		color: green;
		text-align: center
	}
</style>

<div class="center">
	<h1>Welcome to OSU Cascades Counseling Clinic</h1>

	<%= button_to "New Post", { :action=>"clientregistration", :controller=>"register" }, :method => :get %>
	<br>
	<button> <%= link_to 'Counselor login', page_path('login') %> </button>

</div>
