<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	.search-terms {
	  display: inline-block;
	}

</style>

<div style="text-align: center; float: right;">
	<a href="/pages/login">sign out</a>
</div>

<div style="text-align: center;">
	<h1>Admin Client Reports</h1>
</div>





<p style="float: center;">Age</p>
<svg width="400" height="50" style="padding-right: 100%;">
   <rect width="400" height="50" style="fill:rgb(255,0,255);stroke-width:10;stroke:rgb(0,0,0)" /></rect>
</svg>

<svg width="750" height="50" style="padding-right: 100%;">
   <rect width="750" height="50" style="fill:rgb(0,0,255);stroke-width:10;stroke:rgb(0,0,0)" /></rect>
</svg>

<svg width="100" height="50" style="padding-right: 100%;">
  <rect width="100" height="50" style="fill:rgb(0,255,255);stroke-width:10;stroke:rgb(0,0,0)" /></rect>
</svg>
