<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	table, td, th {
	border: 1px solid black;
	}

	td {
		text-align: center;
	}

</style>

<div style="text-align: center; float: right;">
	<a href="/pages/login">sign out</a>
</div>

<div style="text-align: center;">
	<h1>Admin Manage Users</h1>
</div>



<div style="float: left; margin: 2em;">
<p>Counselors</p>
	<table width="100%">
	<tr>
		<th>Name</th>
		<th>Username</th>
		<th>Password</th>
		<th>Archive</th>
	</tr>
	<tr>
		<td align="middle"><input type="text" value="Jill"></td>
		<td align="middle"><input type="text" value="JillBake"</td>
		<td align="middle"><input type="text" value="pass1"</td>
		<td><button>-</button></td>
	</tr>
	<tr>
		<td align="middle"><input type="text" value="John"></td>
		<td align="middle"><input type="text" value="JSmith"</td>
		<td align="middle"><input type="text" value="1234"</td>
		<td><button>-</button></td>
	</tr>
	<tr>
		<td align="middle"><input type="text" value="Beth"></td>
		<td align="middle"><input type="text" value="bbeth"</td>
		<td align="middle"><input type="text" value="super"</td>
		<td><button>-</button></td>
	</tr>
	<tr>
		<td><button>+</button></td>
	</tr>
	</table>
</div>

<div style="clear: both; text-align: center;">
	<button onclick="alert('Changes saved')">Save</button>
</div
