<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

  table, td, th {
    border: 1px solid black;
  }

  .centerItem {
    width: 50%;
  }

</style>


<div style="text-align: center; float: right;">
  <a href="/pages/login">sign out</a>
</div>

<div style="text-align: center; position: relative;">
  <h1>Admin View More</h1>
</div>

<table width="100%">
<tr>
  <th>Name</th>
  <th>Id #</th>
  <th>Age</th>
	<th>Counselor</th>
  <th>Employer</th>
  <th>Phone Number</th>
  <th>Archive</th>
</tr>
<tr>
  <td align="middle"><input type="text" value="Marco Smith" class="center"></td>
  <td align="middle"><input type="text" value="4412" class="center"></td>
  <td align="middle"><input type="text" value="34" class="center"></td>
	<td>
		<select style="width: 100%;">
		  <option>Jill</option>
		  <option>Victoria</option>
		  <option>Erika</option>
		</select>
	</td>
  <td align="middle"><input type="text" value="Apple" class="center"></td>
  <td align="middle"><input type="text" value="123-456-789" class="center"></td>
  <td><button onclick = "alert('Client Archived')">Archive</button>
</tr>
</table>

<table width="100%">
<tr>
  <th>Email</th>
  <th>Insurance</th>
  <th>Married</th>
  <th>County</th>
</tr>
<tr>
  <td align="middle"><input type="text" value="Marco@gmail.com"</td>
  <td align="middle"><input type="text" value="None"</td>
  <td align="middle"><input type="text" value="Yes"</td>
  <td align="middle"><input type="text" value="Deschutes"</td>
</tr>
</table>

<br>
<button onclick="alert('Changes Saved')">Save Changes</button>

<div style="text-align: center; padding-right: 4em;">
  <h3>Counselor: Jill</h3>
</div>
