<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	.search-terms {
	  display: inline-block;
	}

</style>

<div style="text-align: center;">
	<h1>Admin Client Reports</h1>
</div>

<canvas id="bar-chart-horizontal" width="200" height="60"></canvas>
<script>
new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: ["2", "8", "4", "1", "4"],
      datasets: [
        {
          label: "Age (years)",
          backgroundColor: ["#8e5ea2", "#3e95cd","#3cba9f","#e8c3b9","#c45850"],
          data: [27,52,33,21,37]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Clients Age'
      }
    }
});
</script>
