<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	.search-terms {
	  display: inline-block;
	}

	table, th, td {	
    border: 1px solid black;
	}

</style>

<div style="text-align: center; float: right;">
	<a href="">sign out</a>
</div>

<div style="text-align: center;">
	<h1>Admin View Clients</h1>
</div>

<div>
	<p>Search:
	<input type="text" placeholder="Search for...">
  <button type="submit">Search</button></p>

  <div class="search-terms"> <!--Need display inline block to work. </p> tags were like new lines and messed it up-->
  		Search by   
  		Name: <input id="search1" name="item1" type="checkbox">
  		ID: <input id="search2" name="item2" type="checkbox">
  		Phone Number: <input id="search3" name="item3" type="checkbox"> 
  </div>
</div>

 <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>ID#</th>
    <th>Age</th>
    <th>Phone#</th>
    <th>Email</th>
    <th>Counselor</th>
    <th>View More</th>
  </tr>
  <tr>
    <td>Jill Smith</td>
    <td>1223</td>
    <td>50</td>
    <td>541-233-5444</td>
    <td>jill@gmail.com</td>
    <td>Broc</td>
    <td><button>More</button></td>
  </tr>
  <tr>
    <td>Jill Smith</td>
    <td>1223</td>
    <td>50</td>
    <td>541-233-5444</td>
    <td>jill@gmail.com</td>
    <td>Broc</td>
    <td><button>More</button></td>
  </tr>
</table> 