<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	.search-terms {
	  display: inline-block;
	}

	table, th, td {
    border: 1px solid black;
	}

</style>

<div style="text-align: center;">
	<h1>Counselor View Clients</h1>
</div>

<div>
	Search:
	<input style="display: inline-block;" class="" type="text" placeholder="Search for...">
	<!-- 	<%= button_to "Search", page_path('searchresults'), :method => :get %> -->
	<form style="display: inline-block;" class="button_to" method="get" action="/pages/searchresults">
		<input type="submit" text="Search">
	</form>
  <input type='checkbox'>Show Archived</input>
</div><br>

 <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>ID#</th>
    <th>Age</th>
    <th>Phone#</th>
    <th>Email</th>
    <th>View More</th>
		<th>Signatures</th>
		<th>3 Forms</th>
  </tr>
  <tr>
    <td>Jill Smith</td>
    <td>1223</td>
    <td>50</td>
    <td>541-233-5444</td>
    <td>jill@gmail.com</td>
		<td><%= button_to "View More", page_path('counselorviewmore'), :method => :get %></td>
		<td><a href="/">signed: </a><input type="checkbox" checked></td>
		<td>
			<a href="/">audio_video: </a><input type="checkbox">
			&nbsp;<a href="/">counseling_consent: </a><input type="checkbox">
			&nbsp;<a href="/">treatment: </a><input type="checkbox">
		</td>
  </tr>
  <tr>
    <td>Jill Smith</td>
    <td>1223</td>
    <td>50</td>
    <td>541-233-5444</td>
    <td>jill@gmail.com</td>
    <td><%= button_to "View More", page_path('counselorviewmore'), :method => :get %></td>
		<td><a href="/">signed: </a><input type="checkbox" checked></td>
		<td>
			<a href="/">audio_video: </a><input type="checkbox">
			&nbsp;<a href="/">counseling_consent: </a><input type="checkbox">
			&nbsp;<a href="/">treatment: </a><input type="checkbox">
		</td>
  </tr>
</table>
