<!-- move to include in application or header-->
<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

	.search-terms {
	  display: inline-block;
	}

	table, th, td {
    border: 1px solid black;
	}
</style>

<div style="text-align: center;">
	<h1>Counselor View Clients</h1>
</div>
	
<table style="width:100%;">
	<tr>
		<th>First Name</th>
		<th>Age</th>
		<th>ID</th>
		<th>View More</th>
	</tr>
	<% @clients = Client.all %>
	<% @clients.each do |client| %>
		<% if current_user.id == client.user_id %>
			<tr>
				<td><%= client.first_name %></td>
				<td><%= client.age %></td>
				<td><%= client.id %></td>
				<td><%= button_to 'View More', edit_client_path(client.id), :method => :get %></td>
			</tr>
		<% end %>
	<% end %>
</table>