<style>
	.center{
		text-align: center
	}
</style>

<div class="center">
	<h1>Login</h1>

	Username: <input type="text" name="username">

	<div style="margin-top: 2em">
		Password: <input type="password" name="password" >
	</div>

	<div style="margin-top: 2em">
		<button> <%= link_to 'Admin login', page_path('adminhome') %> </button>
		<button> <%= link_to 'Counselor login', page_path('counselorviewclients') %> </button>
	</div>

</div>
