<style>

textarea {
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}

</style>

<div style="padding-left: 2em;">
	<div style="text-align: center;">
		<h1>OSU Cascades Counseling Clinic</h1>
	</div>

	First Name: <input type="text"><br><br>
	Last Name: <input type="text"><br><br>
	City: <input type="text"><br><br>
	DOB: <input type="tel"><br><br><br>

	<textarea rows="4" cols="50" style="background-color: LightGray;">
		Content from consent forms will go here
	</textarea><br><br>

	Sign Here: <br>
	<textarea rows="4" cols="50">
	</textarea><br><br>

	<button style="text-align: center;">Submit</button>
</div>
