<style>
	.top{
		display:inline-block;
	}

	.center {
		text-align: center;
	}

  table, td, th {
    border: 1px solid black;
  }

  .centerItem {
    width: 50%;
  }

</style>


<div class="center">
	<div class="top" style="float: center; width: -8em;"><h1>View More for Marco Bolton</h1></div>
	<div class="top" style="float: right; width: 8em;"><a href="">sign out</a></div>
</div>

<table width="100%">
<tr>
  <th>Name</th>
  <th>Id #</th>
  <th>Age</th>
  <th>Counselor</th>
  <th>Employer</th>
  <th>Phone Number</th>
</tr>
<tr>
  <td align="middle"><input type="text" value="Marco Smith" class="center"></td>
  <td align="middle"><input type="text" value="4412" class="center"</td>
  <td align="middle"><input type="text" value="34" class="center"</td>
  <td align="middle"><input type="text" value="Jill" class="center"</td>
  <td align="middle"><input type="text" value="Apple" class="center"</td>
  <td align="middle"><input type="text" value="123-456-789" class="center"</td>
</tr>
</table>

<table width="100%">
<tr>
  <th>Email</th>
  <th>Insurance</th>
  <th>Married</th>
  <th>County</th>
  <th>Additional Docs</th>
</tr>
<tr>
  <td align="middle"><input type="text" value="Marco@gmail.com"</td>
  <td align="middle"><input type="text" value="None"</td>
  <td align="middle"><input type="text" value="Yes"</td>
  <td align="middle"><input type="text" value="Deschutes"</td>
  <td align="middle"><a href="">additional1.pdf</a></td>
</tr>
</table>
