<style>
	.center{
		color: green;
		text-align: center
	}
</style>

<div class="center">
	<h1>Welcome to OSU Cascades Counseling Clinic</h1>

	<%= button_to "New Clients Register Here", page_path('newclientregistration'), :method => :get %>
	<br>
	<%= button_to "Counselor login", page_path('login'), :method => :get %>

</div>
