<h1>OSU Cascades Counseling Clinic</h1>

<div class="album py-5">
	<div class="container">

		<div class="row">
			<div class="col-sm-5">
				<div class="card sm-6 shadow-sm">
					<%= image_tag 'newClient.png', :class => 'card-img-top', :alt => 'Card image cap' %>
					<div class="card-body">
						<p class="card-text">New clients can register their information here.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<%= button_to "Register Here", '/clients/new', :method => :get, :class => 'btn btn-sm btn-outline-secondary' %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="card sm-6 shadow-sm">
					<%= image_tag 'rateSession.jpg', :class => 'card-img-top', :alt => 'Card image cap' %>
					<div class="card-body">
						<p class="card-text">We appreciate your feedback. Please take the time to rate your session, and tell us how it went.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<%= button_to "Rate Your Session", '/session_ratings/new', :method => :get, :class => 'btn btn-sm btn-outline-secondary' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
