<style>
	.center{
		color: green;
		text-align: center
	}
</style>

<div class="center">
	<h1>Welcome to OSU Cascades Counseling Clinic</h1>

	<%= button_to "New Clients Register Here", '/clients/new', :method => :get %>
	<br>
	<%= button_to "Counselor login", '/auth/login', :method => :get %>

</div>
