<style>
	.center{
		text-align: center
	}
	body {
  		background-repeat: no-repeat;
  		background-image: url("homebackground.jpg");
	}
	h1 {
	    color: orange;
	    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
	}
	/*
	p {
    	color: #fff;
    	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	}*/
</style>

<div class="center"> 
	<h1>Welcome to OSU Cascades Counseling Clinic</h1>

	<%= button_to "New Clients Register Here", '/clients/new', :method => :get, :class => 'btn' %>
</div>
