<style>

textarea {
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}

</style>

<div style="padding-left: 2em;">
	<div style="text-align: center;">
		<h1>OSU Cascades Counseling Clinic</h1>
	</div>

<h3>Client Information Sheet</h3>
  Date:<input type="text" value="Default Date here" ><br>
	First Name:<input type="text"><br>
	Last Name:<input type="text"><br>
  Age<input type="number"><br>
  Date of Birth:<input type="text"><br>
  Address:<input type="text"><br>
	City:<input type="text"><br>
  State:<input type="text"><br>
  Zip:<input type="text"><br><br>

  Phone:<input type="text"><br>
  Message:<input type="checkbox">Yes<input type="checkbox">No<br>
  Email:<input type="text"><br>
  Occupation:<input type="text"><br>
  Employer:<input type="text"><br>
  Employer's address:<input type="text"><br>
  Work Phone:<input type="text">
  Message:<input type="checkbox">Yes<input type="checkbox">No

  <h3><input type="checkbox"> Single<input type="checkbox"> Married<br>Spouse or Partner Information</h3>
  First Name:<input type="text"><br>
  Last Name:<input type="text"><br>
  Age<input type="number"><br>
  Date of Birth:<input type="text"><br>
  Occupoation:<input type="text"><br>
  Employer:<input type="text"><br>
  Phone:<input type="text"><br>

  <h3>Informed Consent for Audio/Video Recording</h3>
  Student Name:<input type="text"><br>
  Practicum/Internship Site:<input type="text"><br>

  <br><br>
  Client's Signature:
  <textarea rows="4" cols="50"></textarea><br><br>
  Counselor's Signature:<input type="text"><br>
  Supervisor's Signature<input type="text"><br>



  <br>
	<button style="text-align: center;">Submit</button>
</div>
